<div class="date-name">{{model.title}}</div>

{{items-sorter model=model.items update=true modelToUpdate=model addedClass="small"}}
{{collection-markers model=model.items }}
{{map-route items=model.items color=model.color}}

<div class="delete-date icon-trash has-tooltip" {{action 'deleteDate'}}>
	<div class="tooltip from-left">Remove day</div>
</div>