<div class="id" data-id={{model.id}}></div>
<div class="image-container" style={{model.photoStyle}}></div>
<div class="details-box">
	<div class="vertical-center-parent">
		<div class="name">{{model.name}}</div>
		<div class="type"><b>{{model.itemTypeInParent}}{{if model.onelinerOrLong ":"}}</b> {{model.onelinerOrLong}}
		</div>
	</div>
</div>
{{#if inSelectMode}}
	<div class="card-link" {{action 'toggleSelected'}}></div>
	{{#link-to 'item' model.slug class="zoom-btn icon-zoom"}}{{/link-to}}
{{ else }}
	{{#link-to 'item' model.slug class="card-link"}}{{/link-to}}
{{/if}}
<div class="selector-holder extension-only">
	<div class="selector icon-check-circle" {{action 'toggleSelected'}}></div>
</div>
