{{#if model}}
<div class="title">{{model.title}}</div>
{{#button-with-confirmation onConfirm=(action 'deleteLink') addedClass="delete-btn"}}
	<div class="has-tooltip icon-trash extension-only">
		<div class="tooltip">Delete</div>
	</div>
{{/button-with-confirmation}}
<div class="subtitle">Saved from <a target="_blank" href={{model.id}}>{{model.domain}}</a></div>
<div class="image-container" style={{model.photoStyle}}></div>
{{autosave-editable class="description" canEditContent=isExpanded isEditable=isExpanded saveOnExit=model value=model.noteOrDesc}}
<div class="expand-hint" {{action 'toggleExpanded'}}></div>
{{/if}}
