<div class="title">{{model.title}}</div>
<div class="subtitle">Saved from <a target="_blank" href={{model.id}}>{{model.domain}}</a></div>
<div class="image-container" style={{model.photoStyle}}></div>
{{#if isExpanded}}
	{{autosave-text-area class='description' cols="60" rows="5" value=model.noteOrDesc saveOnExit=model}}
{{else}}
	<div class="description">{{model.noteOrDesc}}</div>
{{/if}}
<div class="expand-hint" {{action 'toggleExpanded'}}></div>

