<div class="title">{{model.title}}</div>
<div class="subtitle">Saved from <a target="_blank" href={{model.id}}>{{model.domain}}</a></div>
<div class="image-container" style={{model.photoStyle}}></div>
{{autosave-editable class="description" canEditContent=isExpanded isEditable=isExpanded saveOnExit=model value=model.noteOrDesc}}
<div class="expand-hint" {{action 'toggleExpanded'}}></div>

