<div class="flex-container">
	{{#if withScrollMenu}}
		<div class="scroll-menu">
			{{#if majorSections}}
				<div class="scroll-link" {{action 'scrollToSection' 'top'}}>Top</div>
			{{/if}}
			{{#each majorSections as |majorSection|}}
				<div class="scroll-link" {{action 'scrollToSection' majorSection.scrollSlug}}>{{majorSection.title}}</div>
			{{/each}}
			{{#if showRecs}}
				<div class="scroll-link" {{action 'scrollToSection' 'recs'}}>Recommendations</div>
			{{/if}}
		</div>
	{{/if}}
	<div class="scrollable-rhs-content">
		{{#if withOptionsMenu}}
			<div class="options-menu section-options-menu">
				<div class="toggle-btn">Options</div>
				<div class="menu-body {{if majorSections 'two-column'}}">
					{{#if majorSections}}
						<div class="menu-column">
							{{#unless majorSectionType}}
								<div class="menu-section">
									<div class="menu-section-title">Sort by:</div>
									{{select-one options=majorSortOptions onChange=(action 'updateSortOptions')}}
								</div>
							{{/unless}}
							<div class="menu-section">
								<div class="menu-section-title">Sort subsections by:</div>
								{{select-one options=subSortOptions onChange=(action 'updateSortOptions')}}
							</div>
						</div>
					{{/if}}
					<div class="menu-column">
						{{#if model}}
							<div class="menu-section">
								{{select-many options=filterOptions onChange=(action 'updateFilter')}}
							</div>
							{{#if canHaveRecs}}
								<div class="menu-line"></div>
							{{/if}}
						{{/if}}
						{{#if canHaveRecs}}
							<div class="menu-option {{if withRecs 'is-selected'}}" {{action 'toggleRecs'}}>
								Recommendations
							</div>
						{{/if}}
					</div>
				</div>
			</div>
			<div class="prevent-click"></div>
		{{/if}}
		{{#each majorSections as |majorSection|}}
			{{major-section model=majorSection}}
		{{/each}}
		{{#if showRecs}}
			{{major-section model=recsSection}}
		{{/if}}
		{{#if isTrash}}
			{{#unless majorSections}}
				Your trashcan is empty. This will hold any items you decide not to track.
			{{/unless}}
		{{else}}
			{{#if canHaveRecs}}
				{{#unless withScrollMenu}}

					You don't have any tracked items yet. Try searching for something on Google, or use the search bar
					on
					the left.
				{{/unless}}
			{{/if}}
			{{#if canHaveRecs}}
				{{#unless withRecs}}
					<div class="flat-btn blue-text" {{action 'toggleRecs'}}>Find some recommendations</div>
				{{/unless}}
			{{/if}}
		{{/if}}

	</div>


</div>

{{collection-markers model=filteredItems}}
{{#if showRecs}}
	{{collection-markers model=recs markerColor="blue"}}
{{/if}}
