<div class="modal-title">Share Collection</div>
<div class="modal-content">
	{{#if loading}}
		Loading...
	{{else}}
		<div class="collection-option">
			<div class="image-container" style={{model.items.firstObject.photoStyle}}></div>
			<div class="name">{{model.name}}</div>
		</div>
		<br/>
		<a href={{sharedLink}} target="_blank" class="share-link">{{sharedLink}}</a>
		<div class="share-copy" {{action 'copyLink'}}>COPY</div>
		{{input value=sharedLink class="share-input"}}
	{{/if}}
</div>
