<div class="image-container" style={{model.photoStyle}}></div>
<div class="details-box">
	<div class="vertical-center-parent">
		<div class="name">{{model.name}}</div>
		<div class="type">{{model.itemType}}
			{{#if model.parentName}}
				in {{model.parentName}}
			{{/if}}
		</div>
		{{#if closestDistance}}
			<div class="distance {{closestDistance.travelClass}}">{{closestDistance.distanceText}}</div>
		{{/if}}
		{{#if model.rating}}
			<div class="rating icon-star">{{model.rating}}</div>
		{{/if}}
	</div>
</div>
{{#if withoutLink}}
	<div class="card-link" {{action 'selectAction' 'item' model.slug}}></div>
{{else}}
	{{#link-to 'item' model.slug class="card-link" invokeAction='persistItem'}}{{/link-to}}
{{/if}}