{{auth-tokens}}
{{style-guide}}

{{left-menu}}




<div id="rhs-container">
	{{outlet}}
</div>


<div class="main-loader loader">
	<div class="brain"></div>
	<div class="dot1"></div>
	<div class="dot2"></div>
	<div class="dot3"></div>
	<div class="text">Loading...</div>
</div>


{{#if displayService.modalIsOpen}}
	{{#modal-dialog close="toggleModal"
	targetAttachment="none"
	translucentOverlay=true}}
		<div class="close-btn modal-close" {{action 'toggleModal'}}>&#x2715;</div>
		{{component displayService.modalComponentName model=displayService.model closeAction=(action 'toggleModal')}}
	{{/modal-dialog}}
{{/if}}


{{feed-back}}


{{google-map}}
{{map-resize}}


