{{action-bar openModalAction=(action 'openTopModal' target=displayService) targetCollection=model isInCollection=true}}

{{collection-action-bar openModalAction=(action 'openTopModal' target=displayService) addedClass='in' targetModel=model}}

{{input-with-default value=model.name addedClass="collection-title" default="Untitled" saveOnExit=model}}
{{items-sorter model=model.items modelToUpdate=model update=true withRefresh=true}}

{{collection-markers model=model.allItems }}

<br/>
{{collection-search-field-wrapper value=query foundItem="addToCollection" addedClass="extension-only" fromItems=model.allItems}}

{{#if model.dates}}
	<div>
	<div class="add-date flat-btn extension-only" {{action 'addDate' 'before'}}>+1 day</div>
	</div>
	{{#each model.orderedDates as |date|}}
		{{date-view model=date orderedDates=model.orderedDates}}
	{{/each}}
	<div>
	<div class="add-date flat-btn extension-only" {{action 'addDate' 'after'}}>+1 day</div>
	</div>
{{else}}
	<div class="add-date flat-btn icon-date extension-only" {{action 'addDate' 'before'}}>Add a daily itinerary</div>
{{/if}}


