{{action-bar openModalAction=(action 'openTopModal' target=displayService) targetCollection=model isInCollection=true}}

{{collection-action-bar openModalAction=(action 'openTopModal' target=displayService) addedClass='in' targetModel=model}}

{{input-with-default value=model.name addedClass="collection-title" default="Untitled" saveOnExit=model}}
{{items-sorter model=model.items modelToUpdate=model update=true}}

{{collection-markers model=model.items }}

<div class="add-date" {{action 'addDate' 'before'}}>Add a day</div>

{{#if model.dates}}
	{{#each model.orderedDates as |date|}}
		{{date-view model=date}}
	{{/each}}
{{/if}}

<div class="add-date" {{action 'addDate' 'after'}}>Add a day</div>

