{{action-bar openModalAction=(action 'openTopModal' target=displayService) targetCollection=model isInCollection=true}}

{{collection-action-bar openModalAction=(action 'openTopModal' target=displayService) addedClass='in' targetModel=model}}

{{input-with-default value=model.name addedClass="collection-title" default="Untitled" saveOnExit=model}}
{{items-sorter model=model.items modelToUpdate=model update=true}}

{{collection-markers model=model.items }}

<br/>
{{collection-search-field-wrapper value=query foundItem="addToCollection"}}

{{#if model.dates}}
	<div>
	<div class="add-date flat-btn" {{action 'addDate' 'before'}}>+1 day</div>
	</div>
	{{#each model.orderedDates as |date|}}
		{{date-view model=date}}
	{{/each}}
	<div>
	<div class="add-date flat-btn" {{action 'addDate' 'after'}}>+1 day</div>
	</div>
{{else}}
	<div class="add-date flat-btn icon-date" {{action 'addDate' 'before'}}>Add a daily itinerary</div>
{{/if}}


