{{#if descendants}}
	{{action-bar openModalAction=(action 'openTopModal' target=displayService)}}
	{{action-bar-placeholder}}
{{else}}
	{{action-bar openModalAction=(action 'openTopModal' target=displayService) addedClass='in' targetModel=model isTrash=model.deletedStatus canBeSelected=true}}
	{{action-bar-placeholder addedClass='in'}}
{{/if}}


<div class="title-ancestry">
	{{#each model.ancestorsArray as |ancestor|}}
		{{#link-to ancestor.target ancestor.slug}}{{ancestor.name}}{{/link-to}} >
	{{/each}}
</div>

<div class="top-content">
	<div class="rhs">
		<div class="image-container main-image" style={{model.photoStyle}}></div>
		{{map-placeholder model=model}}
		{{#unless descendants}}

			<div class="details-holder">
				<table>
					{{#each model.details as |detail|}}
						<tr class="detail-line">
							<td class="detail-title {{detail.name}}">{{detail.name}}</td>
							<td class="detail-value">{{detail.value}}</td>
						</tr>
					{{/each}}
					{{#if model.textOperatingHours}}
						<tr class="detail-line">
							<td class="detail-title">Opening Hours</td>
							<td class="detail-value">
								<table>
								{{#each model.textOperatingHours as |day|}}
									<tr>
									<td class="detail-day-title">{{day.title}}</td>
									{{#each day.periods as |period|}}
										<td class="detail-hours">{{period.period}}</td>
									{{/each}}
									</tr>
								{{/each}}
								</table>
							</td>
						</tr>
					{{/if}}
				</table>
			</div>
		{{/unless}}
	</div>
	<div class="lhs">
		<div class="top-section-title">Description:</div>
		{{autosave-editable class="long-desc" canEditContent=true isEditable=true saveOnExit=model value=model.longDescEditable}}
	</div>
</div>

<div class="bottom-content">

	<div class="rhs">

	</div>
	<div class="lhs">
		{{#if model.potentialLinks}}
			<div class="top-section-title">Links visited and reviews:</div>

			{{#each model.potentialLinks as |link|}}
				{{link-card model=link}}
			{{/each}}
		{{/if}}
	</div>
</div>



{{#if descendants}}
	{{major-sections-holder model=descendants majorSectionType='item' prefilterAttribute='trackingStatus'}}
{{/if}}

{{center-marker model=model}}

